.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border: 2px solid #ee2737;
    color: #000101;
    border-radius: 8px;
    cursor: pointer;
}

.scroll-to-top-button:hover {
    background-color: #ee2737;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.scroll-to-top-button.visible {
    bottom: 20px;
    transform: scale(1);
}

.scroll-to-top-button:active {
    transform: scale(0.80);
    /* Adjust the scale value as needed */
}